<form action="/insert/transaction" method="post">
<div class="transaction">
    <span class="trans-date"><input value="{{date}}" type="date"  name="transactionDate"> </span>
    <span class="trans-type"><input value="{{type}}" type="text" name="transactionType"></span>
    <span class="trans-amount"><input value="{{amount}}" type="number" name="transactionAmount" step="0.01"> </span>
</div>
</form>